<li>
	<!-- a collapsible accordian header has the title -->
	<div class="collapsible-header">
		<%= link_to nil, task_path(task, task:{complete: !task.complete?}), id: "complete", type: "checkbox", method: :patch, remote: :true %> 
		<%= label_tag "complete" %>
		<%= task.complete %> 
		<%= task.title %> 
	</div>
	<!-- inside the accordian, viewer can view description and access edit and trash icons -->
	<div class="collapsible-body">
		<span>
			<%= task.description %>
			<%= link_to "Update", edit_task_path(task)%>
			<%= link_to "Delete", task, method: :delete, remote: :true %>
		</span>
	</div>
</li>
